@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-cyber-black: #0b0112;
  --color-cyber-purple: #bd52eb;
  --color-cyber-pink: #ff1694;
  --color-cyber-green: #39ff14;

  --shadow-neon-purple: 0 0 5px #bd52eb, 0 0 20px #bd52eb;
  --shadow-neon-green: 0 0 5px #39ff14, 0 0 20px #39ff14;
}

@keyframes marquee {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 44s linear infinite;
}

@keyframes fadeSlide {
  0% {
      opacity: 0;
      transform: translateY(10px);
  }
  15% {
      opacity: 1;
      transform: translateY(0);
  }
  85% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(-10px);
  }
}

.animate-fade-slide {
  animation: fadeSlide 4s ease-in-out;
}